/* line 1, ../_sass/_layout.sass */
html {
  background: #ebebeb url('../images/bkg.jpg?1288460480') left top repeat;
}

/* line 4, ../_sass/_layout.sass */
body {
  background-image: -webkit-gradient(radial, 50% 0, 150, 50% 0, 750, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0)));
  background-image: -moz-radial-gradient(50% 0% 90deg, circle closest-corner, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  background-color: transparent;
}

/* line 10, ../_sass/_layout.sass */
body > header, body > section {
  margin: 0 auto 54px auto;
  width: 550px;
}

/* line 15, ../_sass/_layout.sass */
header, section, aside, footer {
  display: block;
}

/* ------------------------------ Header ------------------------------ */
/* line 19, ../_sass/_layout.sass */
body > header:first-child {
  padding-top: 72px;
}

/* ------------------------------ Footer ------------------------------ */
/* line 23, ../_sass/_layout.sass */
footer {
  padding-top: 36px;
  padding-bottom: 54px;
  border-top: 1px solid rgba(255, 255, 255, 0.9);
  background: #393939 url('../images/footer-bkg.jpg?1288464955') left top repeat;
  color: #cccccc;
}
/* line 31, ../_sass/_layout.sass */
footer > * {
  margin: 0 auto;
  width: 550px;
}
/* line 34, ../_sass/_layout.sass */
footer h2, footer h3 {
  color: #535353;
  text-shadow: 0 -1px 0 black;
}

/* line 1, ../_sass/_typography.sass */
html, body {
  font-size: 14px;
  line-height: 18px;
  color: #414141;
}

/* line 8, ../_sass/_typography.sass */
.content a {
  color: #ed7d18;
  text-decoration: none;
}
/* line 4, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_hover-link.scss */
.content a:hover {
  text-decoration: underline;
}

/* line 13, ../_sass/_typography.sass */
h1, h2, h3 {
  font-family: "Yanone Kaffeesatz", arial, serif;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.66), 0 -1px 0 rgba(255, 255, 255, 0.75);
}

/* line 17, ../_sass/_typography.sass */
h1 {
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 24px;
}

/* line 22, ../_sass/_typography.sass */
h2 {
  margin-bottom: 4px;
  font-size: 32px;
  line-height: 32px;
}

/* line 27, ../_sass/_typography.sass */
h3 {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 20px;
}

/* line 33, ../_sass/_typography.sass */
body > header:first-child {
  text-shadow: 0 2px 3px black, 0 -1px 0 white;
}
/* line 35, ../_sass/_typography.sass */
body > header:first-child h1 {
  font-family: "Yanone Kaffeesatz", arial, serif;
  font-weight: 400;
  text-transform: uppercase;
  font-weight: 700;
  color: #8fd323;
}
/* line 38, ../_sass/_typography.sass */
body > header:first-child p {
  margin-bottom: 72px;
  font-family: "Yanone Kaffeesatz", arial, serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 72px;
  line-height: 72px;
}
/* line 43, ../_sass/_typography.sass */
body > header:first-child p em {
  color: #f8005d;
  font-style: normal;
}

/* line 48, ../_sass/_typography.sass */
code {
  font-family: "Inconsolata", "Monaco", "DejaVu Sans Mono", "Consolas", monospace;
  font-weight: normal;
}

/* line 2, ../_sass/_misc.sass */
p code, ul code, ol code {
  padding-left: 3px;
  padding-right: 3px;
  background-color: rgba(255, 255, 255, 0.3);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

/* line 9, ../_sass/_misc.sass */
#fork-me {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  display: block;
  width: 149px;
  height: 149px;
  background: transparent url(http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png) left top no-repeat;
  text-indent: -9999px;
  opacity: 0.66;
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
}
/* line 24, ../_sass/_misc.sass */
#fork-me:hover {
  opacity: 1;
}

/* ------------------------------ Pygments Syntax Highlighting ------------------------------ */
/* line 3, ../_sass/_pygments.sass */
.highlight pre {
  margin: 0 0 18px 0;
  padding: 9px;
  background: #141616;
  color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0 1px 0 black, inset 0 -1px 0 white;
  -webkit-box-shadow: inset 0 1px 0 black, inset 0 -1px 0 white;
  box-shadow: inset 0 1px 0 black, inset 0 -1px 0 white;
}

/* line 18, ../_sass/_pygments.sass */
.highlight .c, .highlight .c1, .highlight .cm, .highlight .cp, .highlight .cs {
  color: #4b5a5f;
}
/* line 24, ../_sass/_pygments.sass */
.highlight .k {
  color: #2ebccb;
}
/* line 27, ../_sass/_pygments.sass */
.highlight .kd, .highlight .kc, .highlight .kp, .highlight .kr {
  color: #f8005d;
}
/* line 30, ../_sass/_pygments.sass */
.highlight .kr {
  color: red;
}
/* line 33, ../_sass/_pygments.sass */
.highlight .o {
  color: #97dc08;
}
/* line 36, ../_sass/_pygments.sass */
.highlight .s, .highlight .s1, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx {
  color: #ddd260;
}
/* line 44, ../_sass/_pygments.sass */
.highlight .n, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo {
  color: #9b61ff;
}
/* line 50, ../_sass/_pygments.sass */
.highlight .p {
  color: #97dc08;
}
