<!DOCTYPE html>
<html lang="en-CA">
<head>
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <title>Sandbox - {{ page.title }}</title>

  <!-- RESET -->
  <link rel="stylesheet" href="css/tripoli.simple.css" type="text/css">
  <!--[if IE]><link rel="stylesheet" href="css/tripoli.simple.ie.css" type="text/css"><![endif]-->

  <!-- Web Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,bold&subset=latin' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Inconsolata&subset=latin" rel="stylesheet" type="text/css">

  <!-- LULz -->
  <link rel="stylesheet" href="css/lolstyles.css" type="text/css">
</head>
<body class="content">

<header>
  <h1>Sandbox</h1>
  <p>A nifty <em>javascript</em> <em>sandbox</em> for node.js</p>
  <a href="http://github.com/gf3/sandbox" id="fork-me">Fork me on Github</a>
</header>

{{ content }}

<footer id="about">
  <header>
    <h2>About</h2>
  </header>

  <section>
    <h3>Author</h3>
    <ul>
      <li>Written by <a href="http://github.com/gf3">Gianni Chiappetta</a> &ndash; <a href="http://gf3.ca">gf3.ca</a></li>
      <li>Contributions by <a href="http://github.com/dominictarr">Dominic Tarr</a> &ndash; <a href="http://cyber-hobo.blogspot.com/">cyber-hobo.blogspot.com</a></li>
    </ul>

    <h3>License</h3>
    <p>Sandbox is <a href="http://unlicense.org/">UNLICENSED</a>.</p>
  </section>
</footer>

<script>
  // 960 Gridder
  var gOverride =
    { urlBase: 'http://gridder.andreehansson.se/releases/latest/'
    , gColor: '#EEEEEE'
    , gColumns: 12
    , gOpacity: 0.35
    , gWidth: 10
    , pColor: '#C0C0C0'
    , pHeight: 18
    , pOffset: 0
    , pOpacity: 0.55
    , center: true
    , gEnabled: true
    , pEnabled: true
    , setupEnabled: true
    , fixFlash: true
    , size: 960
    }
</script>

</body>
</html>

